@import url("https://unpkg.com/sanitize.css");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");

body {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  margin: 25px;
}

ul, h1, p {
  margin: 0;
}

.block {
  background-color: white;
}

.container, .vert-container {
  display: flex;
  gap: 10px;
}

.container {
  flex-wrap: wrap;
}

.vert-container {
  flex-direction: column;
}

.f1 {
  flex: 1;
}

.items-centered {
  align-items: center;
}

.content-centered {
  justify-content: center;
}

.text-centered {
  text-align: center;
}

@keyframes fade-in {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes clear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.intro-block {
  animation: clear 0.5s, fade-in 0.5s 0.5s;
}

.my-pic {
  height: 300px;
  width: 300px;
  object-position: top;
  object-fit: cover;
  border-radius: 5%;
}

.intro-text {
  font-size: 125%;
}

.intro-icon {
  height: 75px;
  transition: all 0.1s;
}

.intro-icon:hover {
  transform: scale(1.1);
}

.info-block {
  animation: clear 1s, fade-in 0.5s 1s;
}

.block-title {
  font-family: "Gloria Hallelujah";
}

.intern-block {
  background-color: white;
  gap: 0;
  transition: all 0.1s;
  border-radius: 5px;
  border-style: solid; 
  border-width: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.intern-block:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 10px darkgray)
}

.intern-logo {
  height: 150px;
  width: 150px;
}

.intern-title {
  font-weight: bold;
  font-size: 130%;
  margin-top: 20px;
}

.intern-dates {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 20px;
}
