body {
  font-family: Geneva, Tahoma, Verdana, sans-serif
}

ul, h1 {
  margin: 0;
}

.block {
  background-color: white;
  margin-left: 10px; 
  margin-right: 10px;
}

.container, .vert-container {
  display: flex;
  gap: 10px;
}

.container {
  flex-wrap: wrap;
}

.vert-container {
  flex-direction: column;
}

.f1 {
  flex: 1;
}

.items-centered {
  align-items: center;
}

.content-centered {
  justify-content: center;
}

.text-centered {
  text-align: center;
}

.my-pic {
  height: 300px;
  width: 300px;
  object-position: top;
  object-fit: cover;
  border-radius: 5%;
}

.intro-text {
  font-size: 125%; 
  overflow-wrap: normal;
  max-width: 750px;
  margin: 0;
}

.intro-icon {
  height: 75px;
  transition: all 0.1s;
}

.intro-icon:hover {
  transform: scale(1.1);
}

.scroll-down {
  height: 75px;
}

.scroll-down:hover {
  animation: bob 1s linear infinite;
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.intern-block {
  background-color: white;
  gap: 0;
  transition: all 0.1s;
  border-radius: 5px;
  border-style: solid; 
  border-width: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.intern-block:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 10px darkgray)
}

.intern-logo {
  height: 150px;
  width: 150px;
}

.intern-title {
  font-weight: bold;
  font-size: 130%;
  margin-top: 20px;
  margin-bottom: 0;
}

.intern-dates {
  font-weight: bold;
  font-size: 110%;
  margin: 0;
}

.intern-desc {
  margin-bottom: 0;
}
