body {
  font-family: Geneva, Tahoma, Verdana, sans-serif
}

ul, h1 {
  margin: 0;
}

.block {
  background-color: white /*#E0E0E0*/;
  margin-left: 10px; 
  margin-right: 10px;
  /*
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  */
}

.container, .vert-container {
  display: flex;
  gap: 10px;
  /* background-color: orange; */
}

.container {
  flex-wrap: wrap;
}

.vert-container {
  flex-direction: column;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.f4 {
  flex: 4;
}

.items-centered {
  align-items: center;
}

.items-bottom {
  align-items: end;
}

.content-centered {
  justify-content: center;
}

.content-right {
  justify-content: right;
}

.text-centered {
  text-align: center;
}

.my-pic {
  height: 300px;
  width: 300px;
  object-position: top;
  object-fit: cover;
  border-radius: 5%;
}

.intro-text {
  font-size: 125%; 
  overflow-wrap: normal;
  max-width: 750px;
  margin: 0;
}

.intro-icon-block {
  margin-left: 25px;
  margin-right: 25px;
}

.intro-icon {
  height: 75px;
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.bulleted-title {
  margin-bottom: 0px;
}

.sub-block {
  background-color: white;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.intern-block {
  outline-style: solid; 
  outline-width: 3px;
}

.intern-logo {
  height: 150px;
  width: auto;
  margin-top: 20px;
}

.intern-title {
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 0;
}

.intern-dates {
  font-weight: bold;
  font-size: 110%;
  margin: 0;
}

.intern-desc {
  margin-bottom: 0;
}
